[user]
	name = fergus
	email = 59059263+C-Fergus@users.noreply.github.com
[color]
    # Enable colours in colour-supporting terminals
    ui = auto
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[github]
    user = C-Fergus
