*.swp

# Ignore everything...
/*
/*/
# ... except:


# Directories
!/.config/
!/.config/git/
!/.config/git/
!/bin/


# Bash
!.bash_aliases
!.bash_profile
!.bashrc
# Technically for GNU readline library applications, but that's basically only bash
!.inputrc
!.profile


# Binaries
!/bin/getsshkey


# Git
!.gitconfig
!.gitignore
!/.config/git/ignore
!/.config/git/gitk

.gitignore.*


# Shell scripts
!setup.sh
!symlink.sh


# Tmux
!.tmux.conf


# Vim
!.vimrc

# X
!.xinitrc
!.Xmodmap
!.Xresources

