[user]
	name = fergus
	email = 59059263+C-Fergus@users.noreply.github.com
[color]
    # Enable colours in colour-supporting terminals
    ui = auto
[core]
    excludesfile = ~/.config/git/ignore
    editor = vim
[github]
    user = C-Fergus
[filter "remove-pass"]
    clean = "sed -e 's/^password=.*/#password=TODO/'"
