*.swp

# Ignore everything...
/*
/*/
# ... except:


# Bash
!.bash_aliases
!.bash_profile
!.bashrc
!.profile


# Git
!.gitconfig
!.gitignore
!/.config/git/gitk

.gitignore.*


# Shell scripts
!setup.sh
!sync.sh


# Key rebindings
!.Xmodmap


# Vim
!.vimrc
